body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased; /*suavisa la fuente*/
    -moz-font-smoothing: antialiased; /*para mozila*/
    -moz-osx-font-smoothing: antialiased; /*para mac*/
}
#header{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
    background: white;
}
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block; /*asi se puede meter margin y float*/
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 5px;
    animation: girar infinite 30s linear; /* "girar" es el nombre que le pongo a la animacion, infinito es que lo haga por tiempo indefinido, linear que sea continuo*/
}
@keyframes girar{ /* significa que creamos la animacion girar */
    from { /*desde que empieza o podria ser 10% x ej */
        transform: rotate(0deg);
    }
    to { /* hasta que termina o podria poner 100% x ej */
        transform: rotate(360deg);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}
.center{
    width: 75%;
    margin: 0px auto; /*centra el contenido*/
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 85px;/*la altura de la linea*/
    width: 60%;
    float: right;
}
#menu ul li{
    display: inline-block; /*pone los elementos al lado */
    list-style: none; /*saca los items*/
    height: 46px;
    margin-right: 15px;
    margin-left: 15px;

}
#menu a{
    text-decoration: none; /*saca los subrayados*/
    color: #444;
    transition: 300ms all; /*transicion al hover */
}
#menu a:hover {
    color: #3cb2d3;
}
.clearfix{ 
    clear: both;/*Bloquea los floats que no suban al header*/
    float: none; /* limpia los floats del header para que los floats del main no se cuelen arriba*/
}
#slider{
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color:white;
    text-shadow: 0px 0px 5px #444; /*sombreado de texto*/
    background: rgba(97,218,251,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(97,218,251,1) 0%, rgba(60,178,211,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,218,251,1)), color-stop(100%, rgba(60,178,211,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(97,218,251,1) 0%, rgba(60,178,211,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(97,218,251,1) 0%, rgba(60,178,211,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(97,218,251,1) 0%, rgba(60,178,211,1) 100%);
background: radial-gradient(ellipse at center, rgba(97,218,251,1) 0%, rgba(60,178,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61dafb', endColorstr='#3cb2d3', GradientType=1 );
}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}
.btn-white{
    display: block;
    background:white;
    color: rgb(88, 88, 88);
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto; /*para centrarlo */
    font-size: 18px;
    text-transform: uppercase; /*lo hace al texto todo en mayus*/
    text-shadow: none;
    text-decoration: none;
    line-height: 35px; /*lo pone al centro verticalmente*/
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all; /*tiempo de transición con el hover*/
}
.btn-white:hover{
    background: #444;
    color: white;
}
#slider.slider-small{
    height: 150px;
}
#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;

}
#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}
#sidebar{
    width: 25%;
    float: left;
}
.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}
.sidebar-item h3{
    text-transform: uppercase; /*texto en mayúscula*/
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}
.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}
.btn{
    display: block;
    background-color: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}
.btn-success{
    background-color: rgb(23, 150,19);
}
.btn-success:hover{/*HOVER es para cuando PASO POR ENCIMA EL RATON*/
    background-color: black;
}
.mid-form{
    width: 50%;
    margin: 0px auto; /*Para que se centre automaticamente*/
}
.mid-form label{
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}
input[type="text"],textarea{ /*SELECTOR POR ETIQUETA [ATRIBUTO="VALOR"] pongo , y aplico lo mismo heredo a textarea*/
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}
input[type="text"]:focus, textarea:focus{ /*FOCUS es para cuando HAGO CLICK*/
box-shadow: 0px 0px 5px #eee inset;/*box- shadow (es difuminado) INSET es para que lo meta por dentro del input*/
}
textarea{
    width: 100%;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.radio-button{
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#footer{
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}
#footer p{
    margin: 0px;
    padding: 0px;
}
.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}
.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden; /* oculta todo lo que sobresalga del div */
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}
.article-item .image-wrap img{
    text-align: center;
}
.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}
.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122,122,122);
}
.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}
.article-item a:hover{
    text-decoration: underline;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.article-detail .image-wrap{
    float: none; /**/
    width: 100%;
    height: 300px;
}
.article-detail .image-wrap img{
    width: 100%; /*En este caso priorizo que ocupe todo le ancho*/
    height: auto; /*Con uno de los 2 parametros en auto se queda a proporción la imagen*/
}
.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}
/*RESPONSIVE*/
@media (max-width: 1488px){/*Desde 0 hasta 1488px*/
    .center{
        width: 85%;
    }
}

@media (max-width: 1314px){/*Desde 0 hasta 1314px */
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}

@media (max-width: 797px){/*Desde 0 hasta 797px*/
    #logo{
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }
    
    #menu, #menu ul{        
        clear: both; /*Limpieza de flotados*/
        float: none;/*No flote el contenido lo deje natural*/
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
    .mid-form{
        width: 70%;
    }
} 
@media (max-width: 497px){/*Desde 0 hasta 497px*/
    #header{
        min-height: 130px;
        overflow: hidden;
    }
    #menu, #menu ul{
        line-height: 50px;
        width: 100%;
        text-align: center;
    }
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider{
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white{
        margin-top: 20px;
    }
    #slider.slider-small{
        height: 100px;
    }
    #slider.slider-small h1{
        padding-top: 35px;
    }
}